<div class=container>
    <input class="
        container__text-field
        @(Data.HasError ?
            "container__text-field--error" :
            _isFocused ? "container__text-field--focus" : "")"
        value="@Data.Text"
        @oninput="@OnInputChanged"
        @onfocus="@(() => OnFocus(true))"
        @onblur="@(() => OnFocus(false))"/>
    <div class=container__label-container>
        <span class="
            container__label
            @(Data.HasError ?
                "container__label--error" :
                _isFocused ? "container__label--focus" : "")"
        >@Data.Label</span>
    </div>
    <div class=container__help-text-container>
        <span class="
            container__help-text
            @(Data.HasError ? "container__help-text--error" : "")"
        >@Data.CurrentHelpText</span>
    </div>
</div>